/*功能性class*/
.d-flex{
    display: flex;
}
.mb-1_5{
    margin-bottom: $mb-1_5;
}
.mb-2{
    margin-bottom: $mb-2;
}
.mb-2_5{
    margin-bottom: $mb-2_5;
}
.mb-3{
    margin-bottom: $mb-3;
}
.mb-3_5{
    margin-bottom: $mb-3_5;
}
.mb-4{
    margin-bottom: $mb-4;
}
.mb-5{
    margin-bottom: $mb-5;
}
.mb-6{
    margin-bottom: $mb-6;
}
.mb-7{
    margin-bottom: $mb-7;
}
.mb-8{
    margin-bottom: $mb-8;
}
.mb-8_5{
    margin-bottom: $mb-8_5;
}
.mb-9{
    margin-bottom: $mb-9;
}
.mr-2{
    margin-right: $mr-2;
}
.mr-3{
    margin-right: $mr-3;
}
.pb-3{
    padding-bottom: $pb-3;
}
.pb-8{
    padding-bottom: $pb-8;
}
.pb-20{
    padding-bottom: $pb-20;
}
.pt-7{
    padding-top: $pt-7;
}
.pt-8{
    padding-top: $pt-8;
}
